.asuntos h2 {
	color: #3A87AD;
	margin-left: 4%;
	font-size: 20px;
}
.asuntos h3 {
	
	margin-left: 4%;
	font-size: 16px;
}
.asuntos span {
	margin-bottom: 2%;
}
.asuntos .badge {
	margin-top: 10px;
}
.asuntos h6 {
	text-align: left;
}
.asuntos .btn {
	margin: 1%;
}
.modal.large{
    width: 780px;
    margin-left: -390px; /* - width/2 */
}
.opciones .btn {
	margin: 5% 0 0;
	padding: 5px 0 5px;
}
.opciones {
	text-align: center;
}

.info .span9{
	margin-left:1%;
}
#menuf.fixed {
  position: fixed;
  top: 5px;
}
